<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="svb.nxt.robot"
    android:versionCode="1"
    android:versionName="1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:icon="@drawable/logo_new"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="svb.nxt.robot.activity.MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="svb.nxt.robot.activity.DeviceListActivity"
            android:label=""
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name="svb.nxt.robot.game.GameReadLine"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="svb.nxt.robot.game.GameMoveAccelerometer"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="svb.nxt.robot.game.GameMoveDirectionActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="svb.nxt.robot.game.GameMoveMotorActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="svb.nxt.robot.game.GameMoveColorActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="svb.nxt.robot.game.GameSegwayMove"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="svb.nxt.robot.game.GamePrinterTest"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="svb.nxt.robot.game.GamePrintTest2"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name="svb.nxt.robot.game.GamePenPrinter"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
    </application>

</manifest>